* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-image: url("https://res.cloudinary.com/dz8on44po/image/upload/v1650420867/R2S2/bg-stars_sbfehh.svg");
  background-repeat: no-repeat;
  background-color: hsl(235, 16%, 14%);
  color: hsl(0, 0%, 100%);
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
}
